@font-face {
  font-family: "iconfont"; /* Project id 3916093 */
  src: url('iconfont.woff2?t=1678858207376') format('woff2'),
       url('iconfont.woff?t=1678858207376') format('woff'),
       url('iconfont.ttf?t=1678858207376') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinxi:before {
  content: "\e601";
}

.icon-cuowu:before {
  content: "\e600";
}

.icon-xiangyou2:before {
  content: "\e6fc";
}

.icon-xiangzuo2:before {
  content: "\e6fd";
}

.icon-xiazai:before {
  content: "\e7bb";
}

.icon-yunduanxiazai:before {
  content: "\ec1d";
}

.icon-zuixiaohua:before {
  content: "\e67a";
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-xiangqing:before {
  content: "\e62b";
}

.icon-xiangqing1:before {
  content: "\e611";
}

.icon-24gf-folderOpen:before {
  content: "\eac5";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-xiangji:before {
  content: "\e6c8";
}

.icon-24gl-shrink2:before {
  content: "\eb72";
}

.icon-fangda:before {
  content: "\e6a7";
}

.icon-jurassic_user:before {
  content: "\e6a4";
}

.icon-yonghuziliaogerenxinxigerenziliao:before {
  content: "\e7ea";
}

.icon-denglu:before {
  content: "\e6bd";
}

.icon-tuichudenglu:before {
  content: "\e613";
}

.icon-jiantouxia:before {
  content: "\e606";
}

.icon-jiantoushang:before {
  content: "\e607";
}

.icon-a-1:before {
  content: "\e666";
}

.icon-S-:before {
  content: "\e610";
}

.icon-mima:before {
  content: "\e62a";
}

.icon-youxiang:before {
  content: "\e667";
}

.icon-zhanghao:before {
  content: "\e60d";
}

.icon-xianshikejian:before {
  content: "\e8d4";
}

.icon-yincangbukejian:before {
  content: "\e8d5";
}

